@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --brown: #31231E;
  --light: #D9E5D6;
  --light-green: #669D31;
  --orange: #BF6900;
  --dark-green: #3C5A14;
}

body {
  font-family: "Open Sans";
  background-color: var(--light);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dark-green);
  color: var(--light);
  /* margin: 30px;
  width: 100%; */
}

.nav-btn {
  background: none;
  border: none;
  font-family: "Open Sans";
  font-size: 17px;
  color: var(--light);
}

.main {
  margin: 20px;
  padding: 20px;
}

.items {
  display: flex;
  background-color: var(--light-green);
  justify-content: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 600px;
}

.items p {
  text-transform: uppercase;
}

.items button {
  border: none;
  border-radius: 6pc;
  font-size: 20px;
  background-color: var(--light);
}
.items button:hover {
  background-color: var(--orange);
  color: var(--light);
}

.items img {
  border-radius: 12px;
  border: 6px solid var(--dark-green)
}

.items img:hover {
  border: 6px solid var(--orange);
}

.item-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  background-color: var(--orange);
  border-radius: 12px;
}

.item-detail img {
  border-radius: 12px;
  border: 6px solid var(--dark-green)
}

.x {
  width: 30px;
  font-size: 25px;
  background: none;
  border: none;
}

.item-detail-name {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
