@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

:root {
  --brown: #31231E;
  --light: #D9E5D6;
  --light-green: #669D31;
  --orange: #BF6900;
  --dark-green: #3C5A14;
}

body {
  font-family: "Open Sans";
  background-color: var(--light);

}

.header {
  font-size: 60px;
  font-family: "Moirai One";
  text-align: center;
  text-transform: uppercase;
  color: var(--brown);
  background-color: var(--orange);
  margin: 0;
  padding-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dark-green);
  color: var(--light);
  margin-bottom: 30px;
  border-radius: 6px;
}

.nav-btn {
  background: none;
  border: none;
  font-family: "Open Sans";
  font-size: 17px;
  color: var(--light);
}

.nav-btn:hover {
  font-size: larger;
  transition-duration: 0.4s;
}

.main {
  margin: 20px;
  padding: 20px;
}

.items {
  display: flex;
  background-color: var(--light-green);
  justify-content: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 600px;
}

.items p {
  text-transform: uppercase;
}

.items button {
  border: none;
  border-radius: 6pc;
  font-size: 20px;
  background-color: var(--light);
  transition-duration: 0.4s;
}
.items button:hover {
  background-color: var(--orange);
  color: var(--light);
  transition-duration: 0.4s;
}

.items img {
  border-radius: 12px;
  border: 6px solid var(--dark-green)
}

.items img:hover {
  border: 6px solid var(--orange);
  transition-duration: 0.4s;
}

.item-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  background-color: var(--orange);
  border-radius: 12px;
}

.item-detail img {
  border-radius: 12px;
  border: 6px solid var(--dark-green)
}

.x {
  width: 30px;
  font-size: 25px;
  background: none;
  border: none;
}

.item-detail-name {
  text-transform: uppercase;
}

.add-to-cart-btn {
  width: 90px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background-color: var(--orange);
  color: white;
}

.add-to-cart-btn:hover {
  background-color: white;
  border: 1px solid var(--orange);
  color: var(--orange);
  transition-duration: 0.4s;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: x-small;
  background-color: var(--dark-green);
  color: var(--light);
  width: 100vw;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
